<title>Products</title>
<h1 style="color:#c0ca33">
  PRODUCTS
</h1>

<div>
    <!-- <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Description</th>
      </tr>
    </thead> -->

    <form [formGroup]="formSearch" (ngSubmit)=search() class="form-inline">
      <input type="text" formControlName="nama" class="form-control"> &nbsp;
      <button type="submit" class="btn btn-primary" style="background-color: #c0ca33; border-color: #c0ca33">Search</button>
    </form>

    <a href='/addproduct' class="btn btn-primary" style="background-color: #c0ca33; border-color: #c0ca33; margin: 10px">Add Data</a>
  <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
  
</div>